.container {
  max-width: 1200px;
  margin: 0 auto;
  
}

.header {
  display: flex;
  align-items: center;
  flex-direction: column;

  margin:2rem;
}

.form {
  display: flex;
  gap: 1rem;
}

.form__input{
  width: 250px;
}

.main {
  display: flex;
  gap: 1rem;
  justify-content: center;
  flex-wrap: wrap;
}

.article{
  flex: 1 1 200px;
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 1px solid gray;
  border-radius: 0.25rem;
  padding: 1rem 0;
}


.article h2{
  text-align: center;
  font-size: 1.25rem;
  margin:0;
  font-weight: normal;
}

.article img{
  width: 200px;
}